.App {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding-bottom: 10px;
  width: 100%; }
  .App__io {
    max-height: calc(100vh - 89px);
    display: flex;
    flex: 1 1; }
  .App__title, .App__editor-title, .App__previewer-title {
    text-align: center; }
  .App__editor-title, .App__previewer-title {
    background-color: #00a2aa;
    color: black;
    margin: 0;
    padding: 7px 0; }
  .App__editor, .App__previewer {
    background-color: white;
    color: #222;
    box-shadow: 1px 1px 4px 1px #aaa;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px 0 10px; }
  .App__previewer {
    flex-shrink: 1; }

#input, #output {
  border: none;
  flex: 1 1;
  padding: 0 10px 10px 10px; }
  @media (min-width: 960px) {
    #input, #output {
      padding: 0 20px 20px 20px; } }

#input {
  font-size: 16px;
  padding-top: 16px; }

#output {
  overflow-y: scroll; }
  #output h1, #output h2 {
    border-bottom: 1px solid #ccc; }
  #output h6 {
    color: #444; }
  #output pre, #output code {
    background-color: #f0f0f0;
    color: black; }
  #output a {
    color: blue; }
  #output blockquote {
    border-left: 3px solid #444;
    color: #444;
    padding-left: 4px; }
  #output hr {
    border: 2px solid #ccc; }
  #output table, #output th, #output td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px; }
